.results-container {
  background-color: #3492f4;
  height: 100%;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.results-title {
  width: 40%;
  margin: 0 auto;
  color: white;
  margin-bottom: 20px;
}
.play-again-button {
  color: #3492f4;
}

@media only screen and (min-width: 1025px) {
  .results-container {
    padding: 50px 20%;
  }
  .play-again-button {
    width: 50%;
    margin: 0 auto;
  }
}
