.trivia-container {
  background-color: #3492f4;
  height: 100%;
  padding: 50px;
  box-sizing: border-box;
}

.trivia-title {
  margin: 20px 0;
  color: white;
  font-size: 24px;
  min-height: 8%;
}
.answer-buttons {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.answer-button {
  background-color: white;
  color: #3492f4;
  margin: 10px 0;
  font-size: 20px;
  &:hover {
    background-color: white;
  }
}

.trivia-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  background-color: transparent;
  padding: 0;
}
