.trivia-container {
  background-color: #3492f4;
  height: 100%;
  padding: 50px;
  box-sizing: border-box;
}

.trivia-title {
  margin: 20px 0;
  color: white;
  font-size: 24px;
  min-height: 8%;
}
.answer-buttons {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.answer-button {
  background-color: white;
  color: #3492f4;
  margin: 10px 0;
  font-size: 20px;
  width: 100%;
  &:hover {
    background-color: white;
  }
}

.trivia-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  background-color: transparent;
  padding: 0;
}

.loading {
  height: 100%;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 1025px) {
  .trivia-container {
    padding: 50px 20%;
  }

  .answer-buttons {
    flex-direction: row;
    height: 10%;
    div{
      width: 100%;
      margin: 0 10px;
      height: 100%;
    }
  }
  .answer-button {
    height: 100%;
  }

}
