.question-score-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    padding: 0 10px;
  }
}
.question-index {
  color: white;
}

.show-question {
  color: white;
}
