@import '../../Styles/variables';
.question-score-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    padding: 0 10px;
  }
}
.question-index {
  color: $whiteColor;
}

.show-question {
  cursor: pointer;
}
