.question-container {
  min-height: 35%;
}

.remaining-questions {
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.question {
  text-align: left;
  font-size: 26px;
  font-weight: 700;
  margin: 0;
  color: white;
}
