@import '../../Styles/variables';

.question-container {
  min-height: 25%;
}

.remaining-questions {
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  color: $whiteColor;
}

.question {
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  color: $whiteColor;
}
