.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
  padding: 50px;
}

.begin-button {
  background-color: #ff6f8a;
  color: white;
  &:hover {
    background-color: #fa4c6c;
  }
}
