@import '../../Styles/variables';
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  box-sizing: border-box;
  padding: 50px;
}

.home-title {
  margin: 0;
}

.begin-button {
  background-color: $secondaryColor;
  color: $whiteColor;

}

@media only screen and (min-width: 1025px) {
  .container {
    padding: 50px 20%;
  }
  .begin-button {
    width: 50%;
    margin: 0 auto;
    &:hover {
      background-color: #fa4c6c;
      transform: scale(1.04)
    }
  }
}
